{% extends 'base.html.twig' %}

{% block title %}Edit Recruiter{% endblock %}

{% block body %}
    <h1>Edit Recruiter</h1>

    {{ include('recruiter_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recruiter_profile_index') }}">back to list</a>

    {{ include('recruiter_profile/_delete_form.html.twig') }}
{% endblock %}
